<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/public/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css"/>
</head>
<body>
<div class="container-wrap">
    <div class="container-wrap-inner">



        <div class="top">
            <div class="w clearfix">
                <a class="fl" href="#">
                    <img class="logo" src="/public/img/ahuiLogo.png"/>
                </a>
                <nav class="tac">
                    <a href="fe.html">前端开发</a>
                    <a href="#">前端拓展</a>
                    <a href="#">作品展示</a>
                    <a href="#">生活小记</a>
                    <a href="https://github.com/tortoise1992" target="_blank">Github</a>
                </nav>
                <div class="login-wrap">
                    <a href="javascript:;" class="signup">注册</a>
                    <a href="javascript:;" class="signin">登录</a>
                </div>
                <div class="has-login">
                    Hi,<span>周</span><a href="javascript:;" class="logout">注销</a>
                </div>
            </div>
        </div>
        <div class="container w clearfix show-item-hook">

            <div class="show-item">
                <div class="bg">
                    <span>html</span><span>js</span>
                </div>
                <img src="/public/img/33.jpg"/>
            </div>
            <div class="show-item">
                <div class="bg">
                    <span>html</span><span>js</span>
                </div>
                <img src="/public/img/33.jpg"/>
            </div>
            <div class="show-item">
                <div class="bg">
                    <span>html</span><span>js</span>
                </div>
                <img src="/public/img/33.jpg"/>
            </div>
            <div class="show-item">
                <div class="bg">
                    <span>html</span><span>js</span>
                </div>
                <img src="/public/img/33.jpg"/>
            </div>
            <div class="show-item">
                <div class="bg">
                    <span>html</span><span>js</span>
                </div>
                <img src="/public/img/33.jpg"/>
            </div>
        </div>
        <div class="container w clearfix">
            <div class="content fl">
                <div class="list">
                    <a href="#">
                        <div class="list-item clearfix">
                            <div class="indient">
                                <span class="icon-sun"></span>
                            </div>
                            <div class="img fl">
                                <img src="/public/img/11.jpg"/>
                            </div>
                            <div class="desc fl">
                                <div class="title">
                                    我是一个文章标题啊啊啊啊
                                </div>
                                <div class="info">
                                    我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容章内容内容啊啊啊啊我是一个文章内容内容章内容内容啊啊啊啊我是一个文章内容内容
                                </div>
                            </div>
                        </div>
                    </a>

                    <a href="#">
                        <div class="list-item clearfix">
                            <div class="indient">
                                <span class="icon-sun"></span>
                            </div>
                            <div class="img fl">
                                <img src="img/11.jpg"/>
                            </div>
                            <div class="desc fl">
                                <div class="title">
                                    我是一个文章标题啊啊啊啊
                                </div>
                                <div class="info">
                                    我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容章内容内容啊啊啊啊我是一个文章内容内容章内容内容啊啊啊啊我是一个文章内容内容
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list-item clearfix">
                            <div class="indient">
                                <span class="icon-sun"></span>
                            </div>
                            <div class="img fl">
                                <img src="img/11.jpg"/>
                            </div>
                            <div class="desc fl">
                                <div class="title">
                                    我是一个文章标题啊啊啊啊
                                </div>
                                <div class="info">
                                    我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容章内容内容啊啊啊啊我是一个文章内容内容章内容内容啊啊啊啊我是一个文章内容内容
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list-item clearfix">
                            <div class="indient">
                                <span class="icon-sun"></span>
                            </div>
                            <div class="img fl">
                                <img src="img/11.jpg"/>
                            </div>
                            <div class="desc fl">
                                <div class="title">
                                    我是一个文章标题啊啊啊啊
                                </div>
                                <div class="info">
                                    我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容啊啊啊啊我是一个文章内容内容章内容内容啊啊啊啊我是一个文章内容内容章内容内容啊啊啊啊我是一个文章内容内容
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!--<div class="pagenation">
                    翻页
                </div>-->
            </div>
            <div class="sidebar fr">
                <div class="part">
                    <div class="title">
                        关于我
                    </div>
                    <div class="info">
                        <div class="item clearfix">
                            <span class="fl">姓名</span><span class="fr">ahui</span>
                        </div>
                        <div class="item clearfix">
                            <span class="fl">职业</span><span class="fr">切图仔</span>
                        </div>
                        <div class="item clearfix">
                            <span class="fl">居住地</span><span class="fr">武汉</span>
                        </div>
                        <div class="contact">
                            <a href="#"><img src=""/></a>
                        </div>
                    </div>
                </div>
                <div class="part">
                    <div class="title">
                        最近更新
                    </div>
                    <div class="info">
                        <div class="item">
                            <a href="#"><span class="hot">【荐】</span>我是一条最近更新的文章标题，据说要长常常常常</a>
                        </div>
                        <div class="item">
                            <a href="#"><span class="hot">【荐】</span>我是一条最近更新的文章标题，据说要长常常常常</a>
                        </div>
                        <div class="item">
                            <a href="#"><span class="hot">【荐】</span>我是一条最近更新的文章标题，据说要长常常常常</a>
                        </div>
                        <div class="item">
                            <a href="#">我是一条最近更新的文章标题，据说要长常常常常</a>
                        </div>
                    </div>
                </div>
                <div class="part">
                    <div class="title">
                        文章归档
                    </div>
                    <div class="level">
                        <div class="level-1">
                            <span class="icon-folder-open"></span><a href="#">前端开发</a>
                        </div>
                        <div class="level-2">
                            <div class="level-info">
                                <span class="point"></span><a href="#">html</a>
                            </div>
                            <div class="level-info">
                                <span class="point"></span><a href="#">css</a>
                            </div>
                            <div class="level-info">
                                <span class="point"></span><a href="#">javascript</a>
                            </div>
                        </div>
                    </div>
                    <div class="level">
                        <div class="level-1">
                            <span class="icon-folder-open"></span><a href="#">前端开发</a>
                        </div>
                        <div class="level-2">
                            <div class="level-info">
                                <span class="point"></span><a href="#">html</a>
                            </div>
                            <div class="level-info">
                                <span class="point"></span><a href="#">css</a>
                            </div>
                            <div class="level-info">
                                <span class="point"></span><a href="#">javascript</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="footer">
    <div class="copy-right w tac">
        Copyright &copy; 2017-2027 ahuife.site 版权所有
    </div>
</div>



</body>
<script src="/public/lib/jquery-1.11.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/js/base.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/js/index.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/js/tip.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/js/login.js" type="text/javascript" charset="utf-8"></script>
</html>
