<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/public/css/reset.css">
</head>
<body>
<div class="banner-wrap">
    <div class="login" id="register">
        <h3>注册</h3>
        <span>用户：<input name="username" type="text"/></span><br/>
        <span>密码：<input name="password" type="text"/></span><br/>
        <span>确认：<input name="repassword" type="text"/></span><br/>
        <span><input class="submit" type="button" value="提交"/></span>
        <span>已有账号？马上<a href="javascript:;">登录</a></span>
    </div>

    <div class="login" id="login" style="display:none;">
        <h3>登录</h3>
        <span>用户：<input type="text"/></span><br/>
        <span>密码：<input type="text"/></span><br/>
        <span><input type="button" value="提交"/></span>
        <span>没有账号？马上<a href="javascript:;">注册</a></span>
    </div>
</body>

<script src="/public/lib/jquery-1.11.1.min.js"></script>
<script src="/public/js/index.js"></script>
</html>